:root{
  --primary-font : 'Open Sans', sans-serif;
}
body {
  font-family: var(--primary-font);
  display:block;
  margin: 0;
  font-weight: 550;
}
.navbar_jordan {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding:0 2vw ;
}


.navbar_jordan ul {
  width: 100vw;
  overflow-x:hidden;
  width:auto;
  
  display: flex;
  justify-content: flex-end;
 
}

.navbar_jordan li {
  padding: 0.5em;
  white-space: nowrap;
  list-style: none;
  

}

.navbar_jordan a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.navbar_jordan li :hover {
  color: grey;
}

/* Navbar Nike */

.navbar-nike {
  display: flex;
  height: 60px;
  padding: 6px 1.5vw 0px 1.5vw;
  align-items: center;
  
}
/* unordered list of the nike navbar */

.normal-list {
  display: flex;
  width: calc(100% - 680px);
  padding: 0;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 340px;
  
}  
  


/* <li> NIKENav */

.normal-list li {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1.5px solid transparent;
}
/* dropdown menu position shown */
#newdropdown{
  position: absolute;
  width: 50%;
  top: 8%;
  left: 5%;
}
#mendropdown{
  position: absolute;
  width: 50%;
  top: 8%;
  left: 5%;
}
#womendropdown{
  position: absolute;
  width: 50%;
  top: 8%;
  left: 5%;
}
#kidsdropdown{
  position: absolute;
  width: 50%;
  top: 8%;
  left: 5%;
}
#salesdropdown{
  position: absolute;
  width: 50%;
  top: 8%;
  left: 5%;
}

/* the newly shown dropdown menu with its ul's */
.new{
padding: 16px 6px; 
position: relative;
left:50%;
right: 50%;
display: flex;
justify-content: center;
list-style: none;
}
.men1{
padding: 16px 6px;
position: relative;
left:50%;
right: 50%;
display: flex;
justify-content: center;
list-style: none;
}
.women1{
padding: 16px 6px;
position: relative;
left:50%;
right: 50%;
display: flex;
justify-content: center;
list-style: none;
}
.kids1{
padding: 16px 6px;
position: relative;
left:50%;
right: 50%;
display: flex;
justify-content: center;
list-style: none;
}
.sales{
padding: 16px 6px;
position: relative;
left:50%;
right: 50%;
display: flex;
justify-content: center;
list-style: none;
}

/* dropdown menu list title */

#title{
  margin-bottom: 14px;
  font-size: 16PX;
  list-style: none;
  color: black;
  white-space: nowrap;
}
/* dropdown menu list item*/
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.new li{
  list-style: none;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 2px;
  animation: .8s anim-lineUp ease-out 
}
.men1 li{
  list-style: none;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 2px;
  animation: .8s anim-lineUp ease-out 
}
.women1 li{
  list-style: none;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 2px;
  animation: .8s anim-lineUp ease-out 
}
.kids1 li{
  list-style: none;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 2px;
  animation: .8s anim-lineUp ease-out 
}
.sales li{
  list-style: none;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 2px;
  animation: .8s anim-lineUp ease-out 
}
/* Li effects on hover */
.new li :hover{
  color: black;
  cursor: pointer;
}
.men1 li :hover{
  color: black;
  cursor: pointer;
}
.women1 li :hover{
  color: black;
  cursor: pointer;
}
.kids1 li :hover{
  color: black;
  cursor: pointer;
}
.sales li :hover{
  color: black;
  cursor: pointer;
}
/* hyperlink list */
.normal-list a {
  color: black;
  text-decoration: none;
}
/* hyperlink list on hover */
.normal-list li:hover {
  border-bottom: 2px solid black;
}

/* nike LOGO */

/* !!! to add hover effects on the nike logo */
.fav_bag {
  position: absolute;
  right: 1.5vw;
  display: flex;
  list-style-type: none;
  
  
}
.fav_bag li{
  padding:18px
}
/* hidden icons */
.mobile-icon{
  display: none;
}
/* input search-box */

.search-box {
  position: absolute;
  right: 10em;
  width: 124px;
  padding-left: 60px;
  border-radius: 100px / 100px;
  height: 40px;
  background: url('/search-svgrepo-com.svg') no-repeat left;
  background-size: 50px;
  background-color:#e5e5e5;
  border: 0px;
  font-size: 15px;
  /* opacity: 0.9;  */
  /* MODIFY THE OPACITY OF THE TEXT INSIDE THE SEARCH BAR */
}
.search-box:hover {
  background-color: #e5e5e5;;
  
}
.hidden {
  display: none;
}

@media screen and (max-width : 960px) {
  .navbar_jordan {
    display: none;
  }
  .normal-list{
    display: none;
  }
  .search-box{
    display: none;
  }
  .navbar-nike{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 1vw 0px 1vw;
  }
  .fav_bag{
    right: 10px;
    text-align: center;
  }
  .fav_bag li{
    padding-right: 4px;
  }
  .mobile-icon{
    display:block;
    padding-top: 2px;
  }
  /* favorite icon */
  .favorite{
    display: none;
  }


}
